body{
     margin:0;
     background-color:#009933;
    font-family:cursive;
}
canvas#myCanvas{
      background-color:#009933;
}
canvas#myCanvas1{
      background-color:#009933;
}
div.before{
      color:;
      text-align:center;
      font-size:25px;
}
button{
      background-color:#000000;
      color:#ffffff;
      border:0;
      padding:10px;
      font-size:20px;
}
button.start{
      font-size:22px;
}
button:hover{
      font-size:25px;
}
button.full{
      margin:10px;
}
button.full:hover{
      margin:8px;
}
div.wallpaper{
      display:none;
}
button.play,.options,.quit{
     position:absolute;
     max-width:200px;
     padding-left:40px;
     padding-right:40px;
     font-size:30px;
     transition:box-shadow 0.1s;
}
button.play:hover,.options:hover,.quit:hover{
     padding-left:40px;
     padding-right:40px;
     font-size:30px;
     box-shadow:0px 0px 5px 5px #003311;
}
